
h2{
    text-align: center;
    color: white;
    font-size: 3em;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.close{
    display: none;
}

.details{
    width: 80%;
}

.top div{
    display: flex;
    justify-content: space-between;
}


h2{
    text-align: center;
    font-size: 4em;
    font-weight: 700;
}

.cont hr{
    margin-bottom: 35px;
}
main{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.cont{
    background-color: white;
    width: 25%;
    height: 70vh;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
}

.cont h3, .details h3{
    color: black;
}

.details{
    background-color: white;
    width: 65%;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    height: 70vh;
}

.bookcont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.bookcont:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.right{
    display: flex;
}

.price{
    margin-right: 10px;
}

h5{
    margin-bottom: 5px;
}

p{

    margin-bottom: 0;
}



.downitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top{
    display: flex;
    justify-content: space-between;
}
.mid{
    display: flex;
    justify-content: space-between;
}

.downitemf{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 85vh;
    width: 60%;
    height: 10vh;
    /* background-color: white; */
    /* border: 1px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none; */
}

.downitemf p{
    font-size: 1.3em;
    font-weight: 700;
    color: #198754;
    margin-bottom: 0;
}

.down{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
}

.downitem img{
    width: 10%;
}



.bookcont.active{
    background-color: rgb(19, 19, 19);
    color: white;
}

.btn-success, .btn-warning, .btn-danger{
    width: 20%;
}