h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 5em;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.car{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(48, 48, 48);
}

.car img{
    width: 100%;
}

.caption{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p{
    font-size: 1.4em;
    padding: 0 5px;
}

.price span{
    font-size: 1.1em;
    color: rgb(117, 117, 117);
}

.title{
    font-size: 2em;
    color: black ;
}

.caption button{
    height: 5vh;
    padding: 0 10px;
    background-color: black;
    color: rgb(255, 203, 32);
    border-radius: 10px;
    cursor: pointer;
}

.row{
    margin-top: 10px;
}

.remove{
    display: none;
}

form{
    position: fixed;
    top: 30vh;
    left: 35%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.7);
    padding: 20px;
    width: 30%;
    height: 60vh;
    border-radius: 20px;
}

input{
    margin: 10px;
    padding: 10px;
    width: 80%;
    height: 5vh;
    
}

::placeholder{
    color: black;
    font-size: 1.1em;
}

form .submit{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px;
    width: 80%;
    margin: 10px;
    border-radius: 20px;
    height: 7vh;
    text-align: center;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.book{
    opacity: 0.2;
}

.active{
    display: flex;
}